:root{
--primary:#f2b366

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header--title{
    color:var(--primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    text-align: center;
}
.header{
    background-color: bisque;
    padding: 15px;
}
.menu{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}
.menu--item{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #3F2F21;
    padding: 0.4rem;
    color:#f2b366;
    border-radius: 14px;
    width: 150px;
    
}
.image{
    display: flex;
    background-size: contain;
    margin-top: 20px;
    justify-content: center;

}
.image--main{
    border: none;
    border-radius: 10px;
}
.image--text{
    position:absolute;
    bottom: 400px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-shadow: 1px 1px black;
    font-weight: bold;
}
ul{
    list-style: none;
}
.team{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:space-around;
}

.team--patricia{
    background-image: url(/img/pawns.jpg);
    background-repeat: no-repeat;
    box-shadow: 1px 1px 1px 1px rgb(173, 164, 164);
}
.team--patricia li{
    text-align: center;
}