:root{
--primary:#f2b366

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header--title{
    color:var(--primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    text-align: center;
}
.header{
    background-color: bisque;
    padding: 15px;
}
.header--logo{
    display: none;
}
.menu{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}
.menu--item{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #3F2F21;
    padding: 0.4rem;
    color:#f2b366;
    border-radius: 14px;
    width: 150px;
    
}
.image{
    height: 60vh;
    margin-top: 1rem;
    background-image: url(img/mobileCat.jpg);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.image--text{
    color: #f2f2f2;
    text-shadow: 2px 2px #252424c5;
    font-size: 1.4rem;
  
}
.image--main{
    border: none;
    border-radius: 10px;
    flex-basis: auto;
    flex:auto;
}
.header2{
    color:#3F2F21
}
.team{
    display: flex;
    flex-direction: column;
    flex:auto;
    text-align: center;
    align-items: center;
}
.team--container{
    background-repeat: no-repeat;
    box-shadow: 1px 1px 1px 1px rgb(173, 164, 164);
    background-image: url(/img/pawns.jpg);
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 2px;
    width: 70%;
    max-width: 450px;
}
.team--nombre{
    color:#3F2F21;
    font-weight:bold;
    font-size: 20px;
    margin-bottom: 0;
}
.team--status{
    color:white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 200px;
    text-align: center;
    width: 150px;
    margin:0 auto;
}
.footer{
    text-align: center;
}
span{
    color: rgb(116, 53, 12);
}

@media (min-width: 598px) {
    .header{
        display: flex;
        text-align: center;
    }
    .header--title{
        display: none;
    }
  
    .header--logo{
        display: block;
        min-width: 150px;
        max-height: 200px;
    }
    .menu {
        display: flex;
        flex-direction:row;

    }
    .image--text{
        color: #f2f2f2;
        text-shadow: 2px 2px #252424c5;
        font-size: 1.4rem;
    }
    }      
    @media(min-width: 776px){

    }